CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
demo/scratch
scratch
.idea/
__pycache__/
*.pyc
.python-version
*.egg-info
.DS*
.idea*